<h1>Album Details: $album.getName()</h1>

<p>Artist: $album.getArtist().getName()</p>
<p>Added to Collection: $album.getCreatedAt().getMonth() $album.getCreatedAt().getDayOfMonth(), $album.getCreatedAt().getYear()</p>

<a href="/artists/$album.getArtist().getId()" class="btn btn-default">Return to Page for this Artist</a>
<a href="/artists" class="btn btn-default">Return to Artists List</a>
